* {
  padding: 0;
  box-sizing: border-box;
  margin: 0%;
}
body {
  background-color: grey;
}
.heading {
  height: 80px;
  width: 100vw;
  background-color: #fff;
  display: flex;
}
.heading img {
  height: 30px;
  width: 40px;
  margin-top: 30px;
  margin-left: 10px;
  /* padding: 0%; */
}
.heading span {
  text-transform: uppercase;
  line-height: 85px;
  margin-left: 10px;
  font-size: 20px;
}
.heading p {
  line-height: 85px;
  margin: auto;
  cursor: pointer;
}
.overflow {
  display: flex;
}

.sideNav {
  width: 29vw;
  height: 100vh;
  background-color: aqua;
}
.sideNav ul {
  text-align: left;
  margin-top: 50px;
  color: blue;
  cursor: pointer;
}
.sideNav ul li {
  margin-top: 70px;
  text-transform: uppercase;
}
/* .sideNav ul li :hover { */
/* } */
.formcom {
  margin-top: 90px;
  margin-left: 20px;
}
.form input {
  height: 35px;
  width: 60vw;
  max-width: 600px;
  padding: 5px, 10px;
  border: 2px solid aqua;
  text-align: center;
}
.form img {
  width: 10px;
  margin-top: 20px;
}
.comment {
  margin-top: 20px;
  margin-left: 6px;
  max-width: 400px;
}
.comment textarea {
  text-align: center;
  border-style: dashed;
  border-top: 0cqb;
}
button {
  background-color: rebeccapurple;
  color: white;
  padding: 4px 5px;
  border-radius: 9px;
}
