* {
  padding: 0;
  box-sizing: border-box;
  margin: 0%;
}
/* * { */
/* outline: 1px solid red !important; */
/* } */
body {
  background-color: aliceblue;
}
.heading {
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
}
.heading img {
  height: 30px;
  width: 40px;
  margin-top: 30px;
  margin-left: 10px;
  /* padding: 0%; */
}
.heading span {
  text-transform: uppercase;
  line-height: 85px;
  margin-left: 10px;
  font-size: 20px;
}
.heading p {
  line-height: 85px;
  margin: auto;
  cursor: pointer;
}
.overflow {
  display: flex;
  height: inherit;
}

.sideNav {
  width: 29vw;
  height: 100vh;
  background-color: lightcyan;
}
.sideNav ul {
  text-align: left;
  margin-top: 50px;
  color: blue;
  cursor: pointer;
}
.sideNav ul li {
  margin-top: 70px;
  text-transform: uppercase;
}
/* .sideNav ul li :hover { */
/* } */
.formcom {
  margin-top: 90px;
  margin-left: 20px;
}
.form input {
  height: 35px;
  width: 60vw;
  max-width: 600px;
  padding: 5px, 10px;
  border: 2px solid aqua;
  text-align: center;
}
.form img {
  width: 10px;
  margin-top: 20px;
}
.comment {
  margin-top: 20px;
  margin-left: 6px;
  max-width: inherit;
}
.comment textarea {
  text-align: center;
  border-style: dashed;
  border-top: 0cqb;
}
button {
  background-color: rebeccapurple;
  color: white;
  padding: 6px 5px;
  border-radius: 9px;
  margin-top: 3%;
}
@media screen and (max-width: 480px) {
  body {
    background: linear-gradient(to right, #c4c4c4, #f4f4f4);
    overflow:none;
  }
  .heading {
    width: 100vw;
  }
  .heading span {
    font-size: 3vw;
  }
  .container {
    height: auto;
  }
  .sideNav {
    display: grid;
    max-width: 70vw;
    background-color:lightcyan;
    width:70;
  }
  .sideNav li {
    font-size: 0.7rem;
    font-weight: 600;
    margin-left:2px;
  }
  .formcom {
    height: auto;
  }
  section {
    font-size: 1rem;
    margin-top: 8%;
  }
  button {
    margin-left: 60%;
    background-color: darkgrey;
  }
  .commen textarea{
    width:230px;
    max-height:200px;
  }
}


