html,
body {
  max-width: 100%;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: grey;
}
.heading {
  height: 80px;
  width: 100vw;
  background-color: #fff;
  display: flex;
}
.heading img {
  height: 30px;
  width: 40px;
  margin-top: 30px;
  margin-left: 10px;
  /* padding: 0%; */
}
.heading span {
  text-transform: uppercase;
  line-height: 85px;
  margin-left: 5px;
  font-size: 20px;
}
.heading p {
  line-height: 85px;
  margin: 0 auto;
  cursor: pointer;
  margin-left: 5vw;
}
.heading li {
  display: flex;
  text-align: center;
}
.schImage img {
  width: 75%;
  margin-top: 50px;
  /* margin-left: 80px; */
  margin: 0 auto;
  display: block;
}
.schImage p {
  margin-top: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 30px;
}
.schImage p b {
  font-size: 19px;
}
.purpose {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  color: aliceblue;
}
@media screen and (max-width: 480px) {
  .container {
  }
  body {
    background: linear-gradient(to right, #ccc, #f6f6f6);
  }
  .heading {
    /* font-size: 0.9rem; */
    /* font-weight: 600; */
    display: block;
    height: 18vh;
    text-align: center;
    background-color: lightgoldenrodyellow;
  }
  .heading img {
  }
  .heading span {
    color: purple;
  }
  .heading p {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -3vh;
    margin-left: 8%;
  }
  .heading li {
    display: flex;
  }
  .schImage {
    max-width: fit-content;
  }
  .purpose {
    font-size: 2rem;
    color: indianred;
  }
}
