* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #c4c4c4, #cfeacf, #d7f7d7);
  color: black;
}
.heading {
  height: 80px;
  width: 100vw;
  background-color: white;
  display: flex;
  position: inherit;
}
.heading img {
  height: 30px;
  width: 40px;
  margin-top: 30px;
  margin-left: 10px;
  /* padding: 0%; */
}
.heading span {
  text-transform: uppercase;
  line-height: 85px;
  margin-left: 5px;
  font-size: 1.3rem;
}
.heading p {
  line-height: 85px;
  margin: 0 auto;
  cursor: pointer;
  color: blue;
}
.aspirantInfo img {
  width: 10%;
  height: 10%;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  color: white;
}
.aspirantInfo p {
  font-size: 2.3rem;
  text-align: center;
  margin: 5px;
}
.listItem {
  font-size: 2.3rem;
  margin: 40px;
}
button {
  padding: 6px 3px;
  background-color: black;
  color: white;
}
