* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, orange, whitesmoke, skyblue);
}
.heading {
  height: 80px;
  width: 100vw;
  background-color: white;
  display: flex;
}
.heading img {
  height: 30px;
  width: 40px;
  margin-top: 30px;
  margin-left: 10px;
  /* padding: 0%; */
}
.heading span {
  text-transform: uppercase;
  line-height: 85px;
  margin-left: 5px;
  font-size: 20px;
}
.heading p {
  line-height: 85px;
  margin: 0 auto;
  cursor: pointer;
}
.aspirantInfo img {
  width: 10%;
  height: 10%;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
.aspirantInfo p {
  font-size: 25px;
  text-align: center;
  margin: 5px;
}
.listItem {
  font-size: 19px;
  margin: 40px;
}
